.jumbotron {
  padding-top: 6rem;
  background-color: #e0ecff;
}

#projects {
  background-color: #e0ecff;
}

section {
  padding-top: 5rem;
}

#about {
  background-color: #2c5f2d;
  color: white;
}

.navbar {
  background-color: #2c5f2d;
}

.btn {
  background-color: #2c5f2d;
  color: white;
}

footer {
  background-color: #2c5f2d;
}

#player {
  background-color: #2c5f2d;
}
